# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Environment
.env
.env.*

# Gradio
.gradio/

# Database
*.db

# Notebook cache
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

models/*/model.safetensors